:root {
    --folder-color: #70a1ff;
    --folder-back-color: #4785ff;
    --paper-1: #e6e6e6;
    --paper-2: #f2f2f2;
    --paper-3: #ffffff;
}

.folder-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.folder {
    transition: all 0.2s ease-in;
    cursor: pointer;
}

.folder:not(.open):hover {
    transform: translateY(-8px);
}

.folder:not(.open):hover .paper {
    transform: translate(-50%, 0%);
}

.folder:not(.open):hover .folder__front {
    transform: skew(15deg) scaleY(0.6);
}

.folder:not(.open):hover .right {
    transform: skew(-15deg) scaleY(0.6);
}

.folder.open {
    transform: translateY(100px);
    /* Move down slightly when open to show papers */
}

.folder.open .paper:nth-child(1) {
    transform: translate(-120%, -100%) rotateZ(-15deg);
}

.folder.open .paper:nth-child(1):hover {
    transform: translate(-120%, -110%) rotateZ(-15deg) scale(1.1);
    z-index: 10;
}

.folder.open .paper:nth-child(2) {
    transform: translate(10%, -100%) rotateZ(15deg);
    height: 80%;
}

.folder.open .paper:nth-child(2):hover {
    transform: translate(10%, -110%) rotateZ(15deg) scale(1.1);
    z-index: 10;
}

.folder.open .paper:nth-child(3) {
    transform: translate(-50%, -130%) rotateZ(5deg);
    height: 80%;
}

.folder.open .paper:nth-child(3):hover {
    transform: translate(-50%, -140%) rotateZ(5deg) scale(1.1);
    z-index: 10;
}

.folder.open .folder__front {
    transform: skew(15deg) scaleY(0.6);
}

.folder.open .right {
    transform: skew(-15deg) scaleY(0.6);
}

.folder__back {
    position: relative;
    width: 100px;
    height: 80px;
    background: var(--folder-back-color);
    border-radius: 0px 10px 10px 10px;
}

.folder__back::after {
    position: absolute;
    z-index: 0;
    bottom: 98%;
    left: 0;
    content: '';
    width: 30px;
    height: 10px;
    background: var(--folder-back-color);
    border-radius: 5px 5px 0 0;
}

.paper {
    position: absolute;
    z-index: 2;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 10%);
    width: 90%;
    height: 80%;
    background: var(--paper-1);
    border-radius: 5px;
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.paper-content {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.paper:nth-child(2) {
    background: var(--paper-2);
    width: 90%;
    height: 80%;
}

.paper:nth-child(3) {
    background: var(--paper-3);
    width: 90%;
    height: 80%;
}

.folder__front {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    background: var(--folder-color);
    border-radius: 5px 10px 10px 10px;
    transform-origin: bottom;
    transition: all 0.3s ease-in-out;
}

.folder__front.right {
    z-index: 3;
    opacity: 0.8;
}